extends side-nav-sublayout

block primary
    
    div(class='container-fluid')
      h1= title
    
    //- Creates large Div container 
    div(class='container-fluid')
      //- Creating Table with Bootstrap
      div(class='row')
        table(class='table table-striped')
          thead
            tr
              th(scope='col') User ID
              th(scope='col') Message ID
              th(scope='col') Title
              th(scope='col') Message
              th(scope='col') Time
              th(scope='col') Actions
          tbody
            //- creates all of the below tags for each item in the results array
            //- results array is a select query for all posts in the posts table
            if (message != null) 
                each item in message
                  tr
                    th(scope='row') #{item.user_id}
                    td #{item.custom_id}
                    td #{item.title}
                    td #{item.message}
                    td #{item.time}
                    //- Action Buttons for below table data tag. Each route request appropriatley.
                    td
                      a(href='/admin/post_response/'+item.custom_id)
                        button(type='button', class='btn btn-primary') Post Response
                      a(href='/admin/respond/' + item.custom_id)
                        button(type='button' class='btn btn-success') Private Response
                      a
                        button(type='button', class='btn btn-danger', onClick='confirmDelete('+item.id+')') Delete
