//- doctype html
//- head
//-     meta(charset='UTF-8')
//- di.contact
//-     include ./partial/msg
//-     h3 Messages Admin Panel
//-     form(method='POST' action='/admin/message/send')
//-         -if(message == null){
//-         p No message
//-         -}else{
//-         - for(let i = 0; i < message.length; i++){
//-             li User ID: #{message[i].user_id}
//-             li Message ID: #{message[i].custom_id}
//-             li Title: #{message[i].title}
//-             li Message: #{message[i].message}
//-             li Time: #{message[i].time}
//-             li Response: #{message[i].response}
//-             li Response Time: #{message[i].response_time}
//-             input(type='radio' name='id' value= message[i].custom_id required='required')
//-             br
//-             br
//-         -}}
//- 
//-         p.full
//-             label Message Body:
//-             div
//-             textarea(name='message' minlength=20 rows='8' cols='30' required=true)
//- 
//-         input(type='checkbox' name='post' value='post')
//-         p publish in post page
//-         p
//-             label CC Email:
//-             div
//-             input(name='ccEmail' minlength=5)
//-         p.full
//-         div
//-         button(type='submit') Submit
        
extends side-nav-sublayout

block primary
    
    div(class='container-fluid')
      h1= title
    
    //- Creates large Div container 
    div(class='container-fluid')
      //- Creating Table with Bootstrap
      div(class='row')
        table(class='table table-striped')
          thead
            tr
              th(scope='col') User ID
              th(scope='col') Message ID
              th(scope='col') Title
              th(scope='col') Message
              th(scope='col') Time
              th(scope='col') Actions
          tbody
            //- creates all of the below tags for each item in the results array
            //- results array is a select query for all posts in the posts table
            each item in message
              tr
                th(scope='row') #{item.user_id}
                td #{item.custom_id}
                td #{item.title}
                td #{item.message}
                td #{item.time}
                //- Action Buttons for below table data tag. Each route request appropriatley.
                td
                  a(href='/admin/post_response/'+item.custom_id)
                    button(type='button', class='btn') Post Response
                  a(href='/admin/respond/' + item.custom_id)
                    button(type='button' class='btn btn-success') Private Response
                  a
                    button(type='button', class='btn btn-danger', onClick='confirmDelete('+item.id+')') Delete
