extends side-nav-sublayout

block content

    h1(style="text-align:center") Messages Admin Panel 
    include ./partial/msg
    div(class="col-xl-3 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-group p-4 border rounded-lg")
        form(method='POST' action='/admin/message/send')
            -if(message == null){
                p
                    u
                        strong No message
            -}else{
            - for(let i = 0; i < message.length; i++){
                li User ID: #{message[i].user_id}
                li Message ID: #{message[i].custom_id}
                li Title: #{message[i].title}
                li Message: #{message[i].message}
                li Time: #{message[i].time}
                li Response: #{message[i].response}
                li Response Time: #{message[i].response_time}
                input(type='radio' name='id' value= message[i].custom_id required='required')
                br
                br
            -}}
            div(class="form-group w-100")
                label(class="w-25" class="h6" for="body" style="float:left") * Body:
                textarea(class="w-75" name="message" placeholder="Message Body" minlength=20 cols="30", rows="10" required=true)
            div(class="form-group w-100")
                label(class="w-25" class="h6") cc Email:
                input(class="w-75" type="email" name="ccEmail" minlength=5)
            div(class="form-group w-100")
                input(type="checkbox" name="post" value="post")
                label(class="w-50" class="h6") Publish In Posts Page   
            button(type='submit' class='btn btn-primary btn-block active') Submit






