extends side-nav-sublayout

append head
  style(type='text/css').
    button {
      margin:1px;
      padding:1px;
    }

block primary

  div(class='container-fluid')
    br
    h1= title
    //- Shows Number of messages listed
    -if (message != null) {
      h6 Total Number of Messages: #{message.length}
    -  } else {
      h6 Total Number of Messages: 0
    -  }
    br

    //- Creates large Div container 
    div(class='container-fluid')
      //- Creating Table with Bootstrap
      div(class='row')
        table(class='table table-striped table-bordered')
          thead(class='thead-dark')
            tr
              th(scope='col') Message ID
              th(scope='col') Title
              th(scope='col') Message
              th(scope='col') Time
              th(scope='col') Actions
          tbody
            //- creates all of the below tags for each item in the results array
            //- results array is a select query for all posts in the posts table
            if (message != null) 
                each item in message
                  tr
                    td(class='col-md-1') #{item.custom_id}
                    td #{item.title}
                    td(class='col-md-3') #{item.message}
                    td(class='col-md-2') #{formatDate(item.time)}
                    //- Action Buttons for below table data tag. Each route request appropriatley.
                    //- These actions only show if the question has no response
                    if (item.response == null)
                      td(class='col-sm-3')
                        -if(item.is_public){
                          a(href='/admin/post_response/'+item.custom_id class='btn')
                            button(type='button', class='btn btn-primary' title='Post Public Response')
                              i(class="fas fa-upload")
                        -} else {
                          a(href='/admin/post_response/'+item.custom_id class='btn disabled' disabled)
                            button(type='button', class='btn btn-primary disabled' title='Post Public Response' disabled)
                              i(class="fas fa-upload")
                        -}
                        a(href='/admin/respond/' + item.custom_id class='btn')
                          button(type='button' class='btn btn-success' title='Private Response')
                            i(class="fas fa-lock")
                        a(href='/admin/respond/forward/'+item.custom_id class='btn')
                          button(type='button' class='btn btn-info' title='Forward Message')
                            i(class="fas fa-forward")
                    //- Actions id the message has a response
                    else 
                      //-  Actions if the response is public 
                      if (item.is_public == 1)
                        td(class='col-sm-2')
                          a(href='/edit/view/title/' + item.custom_id)
                            button(class='btn btn-primary w-75 p-1 gap-2 ') View Post
                      //- Actions if the response is private
                      else
                        td(class='col-sm-2') 
                          a(href='/message/response/' + item.custom_id)
                            button(class='btn btn-info w-75 p-1 gap-2') View Response
