extends side-nav-sublayout

block primary

  div(class='container-fluid')
    br
    h1= title
    br

    //- Creates large Div container 
    div(class='container-fluid')
      //- Creating Table with Bootstrap
      div(class='row')
        table(class='table table-striped')
          thead
            tr
              th(scope='col') User ID
              th(scope='col') Message ID
              th(scope='col') Title
              th(scope='col') Message
              th(scope='col') Time
              th(scope='col') Actions
          tbody
            //- creates all of the below tags for each item in the results array
            //- results array is a select query for all posts in the posts table
            if (message != null) 
                each item in message
                  tr
                    th(scope='row' class='col-md-1') #{item.user_id}
                    td(class='col-md-1') #{item.custom_id}
                    td #{item.title}
                    td(class='col-md-1') #{item.message}
                    td(class='col-md-1') #{formatDate(item.time)}
                    //- Action Buttons for below table data tag. Each route request appropriatley.
                    if (item.response == null)
                      td(class='col-sm-2')
                        a(href='/admin/post_response/'+item.custom_id)
                          button(type='button', class='btn btn-primary w-75 p-1 gap-2') Post Response
                        a(href='/admin/respond/' + item.custom_id)
                          button(type='button' class='btn btn-success w-75 p-1 gap-2') Private Response
                        a(href='/admin/respond/forward/'+item.custom_id)
                          button(type='button' class='btn btn-info w-75 p-1 gap-2') Forward
                    else 
                      if (item.is_public == 1)
                        td
                          a(href='/edit/view/title/' + item.custom_id)
                            button(class='btn btn-primary w-75 p-1 gap-2 ') View Post
                      else
                        td 
                          a(href='/message/response/' + item.custom_id)
                            button(class='btn btn-info w-75 p-1 gap-2') View Response
