extends side-nav-sublayout

append head
  style(type='text/css').
    button {
      margin-left:5px;
    }

block primary

  div(class='container-fluid')
    br
    h1= title
    //- Shows NUmber of messages listed
    -if (message != null) {
      p Total Number of Messages: #{message.length}
    -  } else {
      p Total Number of Messages: 0
    -  }
    br

    //- Creates large Div container 
    div(class='container-fluid')
      //- Creating Table with Bootstrap
      div(class='row')
        table(class='table table-striped')
          thead
            tr
              th(scope='col') Message ID
              th(scope='col') Title
              th(scope='col') Message
              th(scope='col') Time
              th(scope='col') Actions
          tbody
            //- creates all of the below tags for each item in the results array
            //- results array is a select query for all posts in the posts table
            if (message != null) 
                each item in message
                  tr
                    td(class='col-md-1') #{item.custom_id}
                    td #{item.title}
                    td(class='col-md-1') #{item.message}
                    td(class='col-md-1') #{formatDate(item.time)}
                    //- Action Buttons for below table data tag. Each route request appropriatley.
                    //- These actions only show if the question has no response
                    if (item.response == null)
                      td(class='col-sm-2')
                        a(href='/admin/post_response/'+item.custom_id)
                          button(type='button', class='btn btn-primary gap-2' title='Post Public Response')
                            i(class="fas fa-upload")
                        a(href='/admin/respond/' + item.custom_id)
                          button(type='button' class='btn btn-success gap-2' title='Private Response')
                            i(class="fas fa-lock")
                        a(href='/admin/respond/forward/'+item.custom_id)
                          button(type='button' class='btn btn-info gap-2' title='Forward Message')
                            i(class="fas fa-forward")
                    //- Actions id the message has a response
                    else 
                      //-  Actions if the response is public 
                      if (item.is_public == 1)
                        td
                          a(href='/edit/view/title/' + item.custom_id)
                            button(class='btn btn-primary w-75 p-1 gap-2 ') View Post
                      //- Actions if the response is private
                      else
                        td 
                          a(href='/message/response/' + item.custom_id)
                            button(class='btn btn-info w-75 p-1 gap-2') View Response
