extends layout

block content
    if found
        h1 #{categoryName} content
        p Page #{currentPage} of #{totalPages}
        ul
            each post in posts
                p Posted on #{post.created_on} by tom
                li
                    a(href=post.url) #{post.title}
                ul
                    li #{post.text}
                p Category: #[a(href=post.category_url) #{post.terms[0].termName}]
                hr
        nav(aria-label='Page navigation example')
            ul.pagination
                if currentPage > 1
                    li.page-item
                        a.page-link(href=prev_page) Previous
                if currentPage < totalPages
                    li.page-item
                        a.page-link(href=next_page) Next
    else
        h1 Category not found
