extends side-nav-sublayout


append head
    //- Converts date from SQL format to something easier to read and more aesthatic
    -function formatDate(dateString){
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -return d+' '+m+' '+y;
    -}

block primary
    if found
            //- Container for feed posts.
            div(class='container-xl')
                h1(style="text-align:center") #{categoryName} content
                each item in posts
                    include PostBox
                p Displaying page #{currentPage} of #{totalPages}
                nav(aria-label='Page navigation example')
                    ul.pagination
                        if currentPage > 1
                            li.page-item
                                a.page-link(href=prev_page) Previous
                        if currentPage < totalPages
                            li.page-item
                                a.page-link(href=next_page) Next
    else
        h1 Category not found
