//- doctype html
//- head
//-     meta(charset='UTF-8')
//- di.contact
//-     include ./partial/msg
//-     h2 Email Us
//-     form(method='POST' action='contact/send')
//-         h3  * required
//-         p
//-             label * Full Name:
//-             div
//-             input(type='text' id='name' name='name' minlength=5 required=true)
//-         p
//-             label * Email Address:
//-             div
//-             input(type='email' id= 'email' name='email' required=true)
//-         p
//-             label(for='phone') Phone Number: (format: 07xxxxxxxxx or 020xxxxxxxx)
//-             br
//-             input#phone(type='tel' name='phone' pattern='[0-9]{11}' required= true)
//-         p
//-             label * Message Title:
//-             div
//-             input(type='text' id='title' name='title' minlength=5 required=true)
//-         p.full
//-             label * Message Body:
//-             div
//-             textarea(name='message' id='message' minlength=20 rows='8' cols='30' required=true)
//-         p.full
//-             button(type='submit') Submit

extends side-nav-sublayout

block primary
  
  div(class='container-fluid')
    br
    h1= title
    br
    
  div(class='container-xl')
    form(method='post' action='contact/send')
      p(style='font-weight: bold') * Required
      //- Name
      div(class='form-group row')
        label(for='name' class='col-sm-2 col-form-label') Full Name*
        div(class='col-sm-10')
          input(type='text' name='name' required=true minlength=5 placeholder='John Example' class='form-control')
      //- Email
      div(class='form-group row')
        label(for='email' class='col-sm-2 col-form-label') Email*
        div(class='col-sm-10')
          input(type='text' name='email' required=true placeholder='email@example.com' class='form-control')
      //- Phone
      div(class='form-group row')
        label(for='phone' class='col-sm-2 col-form-label') Phone Number*
        div(class='col-sm-10')
          input(type='text' name='phone' required=true placeholder='email@example.com' class='form-control')
      //- Message Title
      div(class='form-group row')
        label(for='title' class='col-sm-2 col-form-label') Subject*
        div(class='col-sm-10')
          input(type='text' name='title' required=true minlength=5 class='form-control')
      //- Message Body
      div(class='form-group row')
        label(for='message' class='col-sm-2 col-form-label') Message*
        div(class='col-sm-10')
          textarea(name='message' required=true minlength=20 placeholder='Type your message here' class='form-control')
      //- submit Button
      button(class='btn btn-success' type='submit') Send
      
      
