//- Page for admins to view all current posts on the site
extends side-nav-sublayout

append head
  style(type='text/css').
    .table-image {
      td, th {
        vertical-align: middle;
      }
    }
  script(type='application/javascript' src='javascripts/confirm-delete.js')

block primary
  
  //- container-fluid sets div to largest size for bootstrap
  div(class='container-fluid')
    h1= title
  
  div(class='container-fluid' style='padding:2rem;')
    a(href='/edit/new')
      button(type='button', class='btn btn-light') New Post
  
  //- Creates large Div container 
  div(class='container-fluid')
    //- Creating Table with Bootstrap
    div(class='row')
      table(class='table table-striped')
        thead
          tr
            th(scope='col') Id
            th(scope='col') Name
            th(scope='col') Text
            th(scope='col') Created
            th(scope='col') Visible
            th(scope='col') Actions
        tbody
          //- creates all of the below tags for each item in the results array
          //- results array is a select query for all posts in the posts table
          each item in results
            if (item.visible == 1)
              tr
                th(scope='row' class='col-lg-1') #{item.id}
                td(class='col-lg-2') #{item.title}
                td(class='col-lg-4') #{item.text}
                td(class='col-lg-2') #{formatDate(item.created_on)}
                td(class='col-lg-1')
                //- Action Buttons for below table data tag. Each route request appropriatley.
                td(class='col-lg-2')
                  a(href='/edit/view/'+item.id)
                    button(type='button', class='btn') View
                  a(href='/edit/' + item.id)
                    button(type='button' class='btn btn-success gap-2') Edit
                  a
                    button(type='button', class='btn btn-danger', onClick='confirmDelete('+item.id+')') Delete
                  form(action='hide/'+item.id method='post')
                    button(type='submit' class='btn btn-info') Hide
          tr(class='table-secondary')
            td
            td
            th(scope='row') Not visible posts
            td
            td
            td
          each item in results
            if (item.visible == 0)
              tr
                th(scope='row' class='col-lg-1') #{item.id}
                td(class='col-lg-2') #{item.title}
                td(class='col-lg-4') #{item.text}
                td(class='col-lg-2') #{formatDate(item.created_on)}
                td(class='col-lg-1')
                //- Action Buttons for below table data tag. Each route request appropriatley.
                td(class='col-lg-2')
                  a(href='/edit/view/'+item.id)
                    button(type='button', class='btn') View
                  a(href='/edit/' + item.id)
                    button(type='button' class='btn btn-success') Edit
                  a
                    button(type='button', class='btn btn-danger', onClick='confirmDelete('+item.id+')') Delete
                  form(action='show/'+item.id method='post')
                    button(type='submit' class='btn btn-info') Show
                
