append head
    //- Styling changes for the feed boxes
    style(type='text/css').
        .social-feed-box {
            padding: 15px;
            border: 2px solid #e7eaec;
            background: var(--colour-primary);
            margin-bottom: 15px;
        }

        .dropdown {
            display: inline-block;
            position: relative;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #3e8e41;}

//- container for single post
div(class='social-feed-box rounded')
    //- container for title and publish time
    div(class='media-body d-flex justify-content-between align-items-center')
        div(class='mr-2')
            h2=item.title
            u
              a(href='/author/' + item.author_id style='font-color:blue text-decoration: none')
                small(class='text-muted' style='font-color:blue text-decoration: none') Written By !{item.user.user_lname} !{item.user.user_lname}
            br
            small(class='text-muted') #{formatDate(item.created_on)}
        //- Drop down is an admin action. Gives admin option to edit post or hide it from view.
        div(class="dropleft")
            button(type='button' class='btn btn-light dropdown-toggle btn-sm' id='dropdownButton' data-toggle='dropdown')
            div(class='dropdown-menu')
                a(class='dropdown-item' href='/edit/' + item.id)
                    button(class='btn w-100 text-left') Edit
                a(class='dropdown-item')
                    form(action='edit/hide/' + item.id method='get')
                        button(type='submit' class='btn w-100 text-left') Hide
    hr
    //- Container for post body ( '|' tells pug to use accept raw HTML which the posts are saved as)
    div(class='social-body')
        | !{item.html}
    hr
    small(class='text-muted')
        span Posted in #[a(href=item.category_url style='text-decoration:none') #{item.category}]
        if item.tags.length > 0
            span  | Tagged as
        - var i = 0;
        each tag in item.tags
            - i++;
            span  #[a(href=tag.url style='text-decoration:none') #{tag.termName}]
                if (i < item.tags.length)
                    span ,
    div(class='footer')
        a(href='/message/new/' + item.id)
            button(class='btn btn-info') Ask Question about Post