//- Page for admins to view all current posts on the site
extends side-nav-sublayout

append head
  style(type='text/css').
    .table-image {
    td, th {
      vertical-align: middle;
    }
    .btn {
      margin-left: 5px;
    }
  script(type='application/javascript' src='javascripts/confirm-delete.js')

block primary

  //- container-fluid sets div to largest size for bootstrap
  div(class='container-fluid')
    h1= title

  div(class='container-fluid' style='padding:2rem;')
    a(href='/edit/new')
      button(type='button', class='btn btn-light') New Post

  //- Creates large Div container
  div(class='container-fluid')
    //- Creating Table with Bootstrap
    div(class='row')
      table(id="table" class="table table-bordered" data-pagination="true" data-group-by="true", data-group-by-field="Visible")
      script.
        var $table = $('#table')
        var $remove = $('#remove')
        var selections = []

        function getIdSelections() {
          return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
          })
        }

        function responseHandler(res) {
          $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
          })
          return res
        }

        function actionFormatter(value, row, index) {
          let view_url = '/edit/view/' + row.id;
          let edit_url = '/edit/' + row.id;
          let delete_url = '/edit/delete/' + row.id;
          let hide_url = '/edit/hide/' + row.id;
          return [
            '<a class="view" href="' + edit_url + '" title="Edit">',
            '<i class="fa fa-eye"></i>',
            '</a>  ',
            '<a class="edit" href="javascript:void(0)" title="Edit">',
            '<i class="fa fa-edit"></i>',
            '</a>  ',
            '<a class="delete" href="' + delete_url + '" title="Delete">',
            '<i class="fa fa-trash"></i>',
            '</a>  ',
            '<a class="delete" href="' + hide_url + '" title="Hide">',
            '<i class="fa fa-eye-slash"></i></a>',
          ].join('')
        }

        window.operateEvents = {
            'click .remove': function (e, value, row, index) {
              $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
              })
            }
          }

        function initTable() {
          $table.bootstrapTable('destroy').bootstrapTable({
            height: 550,
            locale: $('#locale').val(),
            data: !{JSON.stringify(results)},
            columns: [
              [{
                field: 'state',
                checkbox: true,
                align: 'center',
                valign: 'middle'
              }, {
                title: "Visible",
                field: "visible",
                align: "center",
                sortable: "true"
                }, {
                title: 'ID',
                field: 'id',
                align: 'center',
                sortable: true,
              }, {
                title: 'Description',
                field: 'description',
                align: 'center',
                sortable: true
              }, {
                title: "Title",
                field: "title",
                align: 'center',
                sortable: true
              }, {
                title: "Created on",
                field: "created_on",
                align: "center",
                sortable: true
              }, {
                title: "Author ID",
                field: "author_id",
                align: "center",
                sortable: true
              },{
                title: "Actions",
                field: "action",
                align: "center",
                clickToSelect: false,
                events: window.operateEvents,
                formatter: actionFormatter,
              }]
            ]
          })
          $table.on('check.bs.table uncheck.bs.table ' +
                  'check-all.bs.table uncheck-all.bs.table',
                  function () {
                    $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)
                    // save your data, here just save the current page
                    selections = getIdSelections()
                    // push or splice the selections if you want to save all data selections
                  })
          $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args)
          })

          $remove.click(function () {
            var ids = getIdSelections();
            ids.forEach(id => {
              $.ajax({
                url: '/api/posts/' + id,
                method: 'delete',
              });
            })
            console.log(ids);
            $table.bootstrapTable('remove', {
              field: 'id',
              values: ids
            });

            //db.Term.destroy({ where: { id: ids}})
            $remove.prop('disabled', true)
          })
        }

        $(function () {
          initTable();

          //$('#locale').change(initTable)
        })

      table(class='table table-striped')
        thead
          tr
            th(scope='col') Id
            th(scope='col') Name
            th(scope='col') Text
            th(scope='col') Created
            th(scope='col') Visible
            th(scope='col') Actions
        tbody
          //- creates all of the below tags for each item in the results array
          //- results array is a select query for all posts in the posts table
          each item in results
            if (item.visible == 1)
              tr
                th(scope='row' class='col-lg-1') #{item.id}
                td(class='col-lg-2') #{item.title}
                td(class='col-lg-4') #{item.text}
                td(class='col-lg-2') #{formatDate(item.created_on)}
                td(class='col-lg-1')
                //- Action Buttons for below table data tag. Each route request appropriatley.
                td(class='col-lg-2')
                  a(href='/edit/view/'+item.id)
                    button(class='btn btn-primary' title='View Post')
                      i(class="fas fa-eye")
                  a(href='/edit/' + item.id)
                    button(class='btn btn-success' title='Edit')
                      i(class="far fa-edit")
                  a
                    button(type='button', class='btn btn-danger', onClick='confirmDelete('+item.id+')' title='Delete')
                      i(class="fas fa-trash-alt")
                  form(action='hide/'+item.id method='post')
                    button(type='submit' class='btn btn-info' title='Hide')
                      i(class="fas fa-eye-slash")
          tr(class='table-secondary')
            td
            td
            th(scope='row') Not visible posts
            td
            td
            td
          each item in results
            if (item.visible == 0)
              tr
                th(scope='row' class='col-lg-1') #{item.id}
                td(class='col-lg-2') #{item.title}
                td(class='col-lg-4') #{item.text}
                td(class='col-lg-2') #{formatDate(item.created_on)}
                td(class='col-lg-1')
                //- Action Buttons for below table data tag. Each route request appropriatley.
                td(class='col-lg-2')
                  a(href='/edit/view/'+item.id)
                    button(type='button', class='btn btn btn-primary' title='View Post')
                      i(class="fas fa-eye")
                  a(href='/edit/' + item.id)
                    button(type='button' class='btn btn-success' title='Edit')
                      i(class="far fa-edit")
                  a
                    button(type='button', class='btn btn-danger', onClick='confirmDelete('+item.id+')' title='Delete')
                      i(class="fas fa-trash-alt")
                  form(action='show/'+item.id method='post')
                    button(type='submit' class='btn btn-info' title='Show')
                      i(class="fas fa-eye")
