//- Page allow user to view a post outside of the feed environment
extends side-nav-sublayout

append head
    - var content = doc;

block primary
    //- container for pgae title
    div(class='container-fluid')
        h1 Post Viewer
        br
    div(class='container-xl')
        div(id='buttons', style='float:right')
            a(href='/edit/' + id)
                button(type='button' class='btn btn-success') Edit
        h2(style='aligned:left') #{title}
        small(class='text-muted')
            p Posted by #{user.user_login}
            span Posted in #[a(href=category_url) #{category}]
            if tags.length > 0
                span  | Tagged as
            - var i = 0;
            each tag in tags
                - i++;
                span  #[a(href=tag.url) #{tag.termName}]
                    if (i < tags.length)
                        span ,
            p Description: #{post.description}
        div(id='output' class='border' style='padding:20px')
            | !{html}

    div(class='container-fluid' style='padding:2rem;')
        a(href='/edit/')
            button(class='btn btn-dark') Back To List