extends side-nav-sublayout

append head
    style(type='text/css').
        .social-feed-box {
            padding: 15px;
            border: 1px solid #e7eaec;
            background: #fff;
            margin-bottom: 15px;

        }

block primary
    h1(align='center') Search Results for query #{query}
    br
    h2(style="text-align:center") #{resultsString}
    //- Creates large Div container
    div(class='container-xl')
    h3 Posts
    each item in post_results
        //- container for single post
        div(class='social-feed-box')
            //- container for title and publish time
            div(class='media-body')
                h2
                    a(href=item.url) #{item.title}
                small(class='text-muted') Posted on #{item.created_on} by #{item.author}
            hr
            //- Container for post body ( '|' tells pug to use accept raw HTML which the posts are saved as)
            div(class='social-body')
                | !{item.text}
            br
            small(class='text-muted')
                span Posted in #[a(href=item.category_url) #{item.category}]
                if item.tags.length > 0
                    span  | Tagged in
                - var i = 0;
                each tag in item.tags
                    - i++;
                    span  #[a(href=tag.url) #{tag.termName}]
                        if (i < item.tags.length)
                            span ,
    h3 Messages
    each item in message_results
        div(class='social-feed-box')
            //- container for title and publish time
            div(class='media-body')
                h2
                    a(href=item.url) #{item.title}
            hr
            //- Container for post body ( '|' tells pug to use accept raw HTML which the posts are saved as)
            div(class='social-body')
                | !{item.message}
            br

        //-
            p Displaying page #{page_number} of #{total_pages}
            nav(aria-label='Page navigation example')
                ul.pagination
                    if page_number > 1
                        li.page-item
                            a.page-link(href=prev_page) Previous
                    if page_number < total_pages
                        li.page-item
                            a.page-link(href=next_page) Next
