//- Page provides facility for admins to create a post that will be posted on the site.
extends side-nav-sublayout

append head
  script(type="application/javascript" src="/tinymce/tinymce.min.js")
  script(id='config' data-content=doc type="application/javascript" src= "/js/tinymce-config.js")
  

  
block primary
  div(class='container-fluid')
    h1 Content Editor

  //- container for post form
  div(class='container-xl')
      form(name="editor-form", method="post")
        div(id='input' class="form-row")
            div(class="form-group col-md-6")
                label(for='filename') Title:
                input(type="text" class="form-control" id='postLbl', name="filename", value=postname, placeholder="Enter the title for the post here...")
            div(class="form-group col-md-6")
                label(for='category') Category:
                select(class="form-control" name="category")
                    for category in categories
                        if category.id == category_id
                            option(value=category.id selected) #{category.termName}
                        else
                            option(value=category.id) #{category.termName}
            div(class="form-group col")
                p Tags:
                input(type="text" class="form-control" id="tagstype" name='tags' value="")
                script.
                    const tags = new Bloodhound({
                        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('termName'),
                        queryTokenizer: Bloodhound.tokenizers.whitespace,
                        local: !{JSON.stringify(tags)}
                    });


                    $('#tagstype').tagsinput({
                        itemValue: 'id',
                        itemText: 'termName',
                        freeInput: true,
                        typeaheadjs: ({
                            hint: true,
                            highlight: true,
                            minLength: 1
                        }, {
                            name: 'states',
                            displayKey: 'termName',
                            source: tags
                        })
                    });

                    // Enable the tags already applied to this this post in the tag input form.
                    $.each(!{JSON.stringify(posttags)}, function (index, value) {
                        $('#tagstype').tagsinput('add', value);
                    });
        div(class="form-group")
            label(for="description") Description:
            textarea(type="text" class="form-control" id="descriptionLabel" rows="2" name="description" placeholder="A brief description of this post's content...") #{description}
        div.input
            textarea(name="content", id="my-expressjs-tinymce-app", value="Enter title here")
        br
        div.actions
            input(type="submit", value='Save' class='btn btn-success')
              
  //- container for back button
  div(class='container-fluid' style='padding:2rem;')
    a(href= back)
      button(class='btn btn-dark') Back To List
