extends layout
block vars
    - const title = 'Upload Media Content'

block content
    h1=title

    if result
        h2 File Upload Successful!
        p Access the file at #[a(href=result.url) #{result.name}]

        h2 Upload another file...

    form(action='/upload', method='POST', enctype="multipart/form-data")
        label(for="filename")="Override file name: "
        input(type="text", id="filename", name="filename")
        br

        label(for="replace")="Replace Existing File? "
        input(type="checkbox", name="replace", id="replace")
        br

        // This **HAS** to be the last option, so multer can read the file name and stuff...
        label(for="file")="File to upload: "
        input(type="file", name="file", id="file")
        br

        input(type="submit", value="Upload")

