extends layout 

block content 
    h1(style="text-align:center") Messages User Panel
    include ./partial/msg
    div(class="col-xl-3 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-group p-4 border rounded-lg")
        h4(style="text-align:center") Your User ID is: #{user_id}
        -if(message == null){
        h6(style="text-align:center") No message
        -}else{
        - for(let i = 0; i < message.length; i++){
            li Message ID: #{message[i].custom_id}
            li Title: #{message[i].title}
            li Message: #{message[i].message}
            li Time: #{message[i].time}
            li Response: #{message[i].response}
            li Response Time: #{message[i].response_time}
            br
            br
        -}}

        form(method='POST' action='/message/send')
            div(class="form-group w-100")
                label(class="w-25" class="h6") Title:
                input(class="w-75" name='title' placeholder="Message Title" minlength=5 maxlength=30)
            div(class="form-group w-100")
                label(class="w-25" class="h6" style="float:left") Body:
                textarea(class="w-75" name='message' placeholder="Message Body" minlength=20 rows='10' cols='30' required=true)
            button(type='submit' class='btn btn-primary btn-block active') Submit