//- doctype html
//- head
//-     meta(charset='UTF-8')
//- di.contact
//-     include ./partial/msg
//-     h3 Messages User Panel
//-     h3 Your User ID is: #{message[0].user_id}
//-     -if(message == null){
//-     p No message
//-     -}else{
//-     - for(let i = 0; i < message.length; i++){
//-         li Message ID: #{message[i].custom_id}
//-         li Title: #{message[i].title}
//-         li Message: #{message[i].message}
//-         li Time: #{message[i].time}
//-         li Response: #{message[i].response}
//-         li Response Time: #{message[i].response_time}
//-         br
//-         br
//-     -}}
//- 
//-     form(method='POST' action='/message/send')
//-         p
//-             label Message Title:
//-             div
//-             input(name='title' minlength=5 maxlength=30)
//-         p.full
//-             label Message Body:
//-             div
//-             textarea(name='message' minlength=20 rows='8' cols='30' required=true)
//-         p.full
//-             div
//-             button(type='submit') Submit

extends side-nav-sublayout

block primary
    
    div(class='container-fluid')
      h1= title
      
    div(class='container-fluid' style='padding:2rem;')
      a(href='/message/new')
        button(type='button', class='btn btn-light') New Question
      
      
    div(class='container-fluid')
      div(class='row')
        table(class='table table-striped')
          thead
            tr
              th(scope='col') Message ID
              th(scope='col') Title
              th(scope='col') Message
              th(scope='col') Time
              th(scope='col') Response
          tbody
            if (message != null) 
                each item in message
                  tr
                    th(scope='row') #{item.custom_id}
                    td #{item.title}
                    td #{item.message}
                    td #{item.time}
                    if (item.is_public == 1)
                      td
                        a(href='/edit/view/title/' + item.custom_id)
                          button(class='btn btn-primary') View Post
                    else
                      if (item.response != null)
                        td #{item.response}
                      else 
                        td No Response yet, Keep checking back!
                    //- Action Buttons for below table data tag. Each route request appropriatley.
            else 
              tr
                td No Questions Asked Yet
